* {
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

main {
    padding: 0 100px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
}

.logo {
    height: 50px;
    width: 74px;
    margin-left: 50px;
}

.nav {
    display: flex;
    align-items: center;
}

.nav a {
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #000;
    margin-right: 42px;
}



.section-title {
    font-weight: 400;
    font-size: 36px;
    color: #000;
    margin-bottom: 15px;
}

.card {
    height: 260px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    background-color: #D9D9D9;
    padding: 0 0 41px 31px;
    margin-bottom: 75px;
}

.text-card {
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
}

.title {
    font-weight: 400;
    font-size: 70px;
    line-height: 85px;
    color: #000000;
    margin-bottom: 100px
}

.section {
    margin-bottom: 79px;
}

.hero-container {
    display: grid;
    grid-template-columns: auto auto auto;
    margin-bottom: 100px;
    height: 100vh;
}

.hero {
    grid-column: span 2 / span 2;
    background-color: #D9D9D9;
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    padding: 0 0 0 40px;
}

.hero-box {
    width: 100%;
    height: 100%;
    background-color: #A9A5A5;
}

.card-wrap {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 24px;
}

.big-card {
    grid-column: span 2 / span 2;
}

.baner-card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #D9D9D9;
    height: 260px;
}

.card-black {
    width: 100%;
    height: 260px;
    background: #A9A5A5;
}


.text-baner {
    margin: auto 20%;
    width: 175px;
    height: 44px;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 400px;
    font-size: 36px;
    line-height: 44px;
}

footer {
    height: 200px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding-bottom: 20px;
}

.text-saha {
    font-family: sans-serif;
    font-style: normal;

}